<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<nav>
    <a href="highScore">High Score List</a>
    <br>
    <br>
    <a href="playsPage">Most Plays List</a>
    <br>
    <br>
    <a href="loginPage">Edit/Update Page</a>
</nav>