<h1>LOGIN PAGE</h1>
<body>
    <h4>USERNAME</h4>
    <input type="text" name="username">
    <br>
    <br>
    <h4>PASSWORD</h4>
    <input type="password" name="password">
    <br>
    <br>
    <form action="editPage">
        <input type="submit" value="Login">
    </form>
</body>